$main-color: rgba(236, 0, 124, 1);
$main-color-hover: rgba(236, 0, 124, 0.7);


/******************* it-all-style *******************/

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body * {
  font-family: "Roboto", "Ubuntu", "Open Sans", "Lato", sans-serif;
  color: #333333;
  line-height: 1.42;
}


body * {
  box-sizing: border-box;
}

.it-container {
  max-width: 1160px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.it-all-title {
  padding-top: 80px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;
}

.it-all-title--color {
  color: #ffffff;
}

.it-all--indent {
  margin-bottom: 80px;
}

.it-main-page__wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -404px;
  overflow: hidden;
}

.it-main-page__wrapper:after {
  content: "";
  display: block;
  height: 404px;
}

.it-btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  user-select: none;
  border: none;
  padding: 11px 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: $main-color;
  color: #ffffff;
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
}

.it-btn:hover {
  background-color: $main-color-hover;
}

.it-btn:hover,
.it-btn:active,
.it-btn:visited {
  color: #ffffff;
  text-decoration: none;

}


/******************* it-price *******************/

.it-price {
  background-color: rgba(229, 229, 229, 0.5);
  overflow: hidden;
}

.it-price .it-container {
  overflow: hidden;
}

.it-price__wrap {
  padding: 10px 0;
  position: relative;
}

.it-price__item {
  list-style-type: none;
  padding: 10px 0;
  position: relative;
}

.it-price__item:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
    background-color: #ffffff;
}

.it-price__item:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.content_block .it-price__inner-wrap:last-child:before {
  display: none;
}

.it-price__item:last-child:before {
  display: none;
}

.it-price__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
  overflow: hidden;
  padding: 35px 0 35px;
  position: relative;
}

.it-price__inner-wrap:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;

}

.it-price__inner-item {
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 170px;
  margin: 0 20px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.it-price__inner-item:hover {
  text-decoration: none;
}

.it-price__inner-item:active,
.it-price__inner-item:visited {
  text-decoration: none;
}

.it-price__img-box {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 190px;
  width: 100%;
  margin-bottom: 40px;
}

.it-price__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-price__title {
  text-align: center;
  transition: 0.2s;
}

.it-price__title--indent {
  margin-bottom: 45px;
  display: inline-block;
}

.it-price__inner-item.active .it-price__title {
  color: $main-color;
  font-weight: 700;
}

.it-price__inner-item.active {
  color: $main-color;
  font-weight: 700;
}

.it-price__inner-wrap--size {
  margin-left: -100px;
  margin-right: -100px;
}


.it-price__inner-item--size {
  max-width: 130px;
  text-align: left;
  margin: 0 100px 10px;
}

.it-price__inner-wrap--size2 {
  margin-left: -5px;
  margin-right: -5px;
}

.it-price__inner-item--size2 {
  margin: 0 5px 10px;
  flex-basis: 220px;
}



/******************* it-price *******************/



.it-price__info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 35px 0;
}


.it-price__info-half--left {
  flex-basis: 70%;
  padding-left: 3%;
}


.it-price__info-half--right {
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.it-price__info-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.it-price__info-item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 20px 0 10px 0;
  position: relative;
  width: 100%;
}

.it-price__info-item:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $main-color;
}

.it-price__info-item:last-child:before {
  display: none;
}

.it-price__info-item span {
  color: rgba(0, 0, 0, 0.54);
}

.it-price__info-text {
  flex-grow: 1;
}

.it-price__info-text--mod1 {
  text-align: left;
  width: 100%;
  flex-basis: 170px;
}

.it-price__info-text--mod2 {
  max-width: 240px;
  width: 100%;
  text-align: right;
  flex-basis: 20px;
}

.it-price__info-text--mod3 {
  max-width: 275px;
  width: 100%;
  text-align: right;
  flex-basis: 100px;
}

.it-price__info-bottom {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 300;
}

.it-price__info-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}

.it-price__info-inner-wrap {
  max-width: 244px;
  width: 100%;
  margin-bottom: 15px;
}

.it-price__buttons {
  margin-top: 15px;
}


.it-callback__input {
  border: 1px solid rgba(80, 66, 66, 0.2);
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 8px;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 10px;
}

.it-callback__buttons {
  max-width: 319px;
  width: 100%;
  flex-grow: 1;
  margin: 0 8px;
  flex-basis: 200px;
}

.it-callback__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-callback__input::-webkit-input-placeholder,
.it-callback__input::-moz-placeholder,
.it-callback__input:-ms-input-placeholder,
.it-callback__input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-callback__checkbox-wrap {
  text-align: center;
}


/******************* it-form__success *******************/

.it-form__success {
  font-size: 36px;
  text-align: center;
  display: none;
  line-height: 1em;
}

.it-form--hide.success *:not(.it-form__success) {
  display: none;
}

.it-form--hide.success .it-form__success {
  display: block;
}


/******************* it-price-checkbox *******************/



.it-price-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  max-width: 278px;
  width: 100%;

}

.it-price-checkbox__default {
  width: 1px;
  height: 1px;
  position: relative;
  right: -15px;
}

.it-price-checkbox__pseudo {
  position: relative;
  max-width: 24px;
  width: 100%;
  height: 24px;
  border-radius: 50%;
  margin-right: 25px;
  background-color: #F0F0F1;
  border: 2px solid #BBBABB;
  transition: all 0.225s ease-in-out;
}

.it-price-checkbox__pseudo:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: $main-color;
  opacity: 0;
  transition: all 0.225s ease-in-out;
  transform: scale(0.4);
}

.it-price-checkbox__default:checked + .it-price-checkbox__pseudo:before {
  opacity: 1;
  transform: scale(1);
}

.it-price-checkbox__default:checked + .it-price-checkbox__pseudo {
  border: 2px solid $main-color;

}

.it-price-checkbox__default:checked + .it-price-checkbox__pseudo + .it-price-checkbox-text {
  font-weight: 700;
}

label {
  margin-bottom: 0;
}



/******************* checkbox *******************/

.it-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  width: 100%;

}

.it-checkbox__default {
  width: 1px;
  height: 1px;
  position: relative;
  right: -15px;
}

.it-checkbox__pseudo {
  position: relative;
  max-width: 24px;
  width: 100%;
  height: 24px;
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  background: #ffffff;
  margin-right: 25px;
}

.it-checkbox__pseudo:before {
  content: '\002714';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  color: $main-color;
  opacity: 0;
  transition: all 0.225s ease-in-out;
  transform: scale(0.4);
}


.it-checkbox__default:checked + .it-checkbox__pseudo:before {
  opacity: 1;
  transform: scale(1);
}

.it-checkbox__text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
}

label {
  margin-bottom: 0;
}


/******************* it-offer *******************/

.it-offer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}

.it-offer__half {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.it-offer__img-box {
  max-width: 230px;
  width: 100%;
}

.it-offer__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-offer__content {
  text-align: right;
}

.it-offer__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #050505;
}

.it-offer__subtitle {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
  color: #050505;
}

.it-offer__price {
  font-size: 50px;
  color: #000000;
  font-weight: 300;
  line-height: 0.8;
}

.it-offer__price span {
  font-size: 144px;
  font-weight: 700;
  color: $main-color;
  display: inline-block;
  margin-left: 10px;
}


/******************* it-advantages *******************/


.it-advantages--title {
  color: rgba(236, 0, 124, 1);
}

.it-advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.it-advantages__item {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(208, 208, 208, 1);
  padding: 5% 0;
  flex-basis: 285px;
  flex-grow: 1;
}

.it-advantages__content {
  text-align: center;
  max-width: 182px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-advantages__img-box {
  margin-bottom: 25px;
}


/******************* it-repairs *******************/

.it-repairs {
  background-color: #363636;
  background-image: url(../img/repairs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  padding-bottom: 4%;
}

.it-repairs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-bottom: 7%;
}

.it-repairs__item {
  max-width: 281px;
  width: 100%;
  flex-basis: 180px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgba(208, 208, 208, 1);
  padding: 1% 40px 1% 10px;
}

.it-repairs__nimeric {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
}

.it-repairs__nimeric:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 38px;
	height: 5px;
  background-color: $main-color;
}

.it-repairs__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.it-repairs__bottom {
  display: flex;
  flex-wrap: wrap;
}

.it-repairs__bottom-half--left {
  flex-grow: 1000;
}

.it-repairs__bottom-half--right {
  flex-grow: 1;
  max-width: 430px;
}

.it-repairs__form-subtitle {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 700;
}

.it-repairs__form-desc {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}

.it-repairs__form {
  overflow: hidden;
}

.it-repairs-form__inner-wrap {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -12px;
  overflow: hidden;
}

.it-repairs-form__input-wrap {
  max-width: 300px;
  width: 100%;
  margin: 0 12px;
}

.it-repairs__buttons {
  max-width: 200px;
  width: 100%;
  margin: 0 12px 10px;
}

.it-repairs-form__title {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.it-repairs__checkbox-wrap .it-checkbox__text {
  color: #ffffff;
  margin-bottom: 10px;
}




/******************* it-jobs *******************/

.it-jobs__wrap {
  position: relative;
}

.it-jobs__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 12%;
}

.it-jobs__half {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.it-jobs__half--left {
  padding-right: 3%;
}

.it-jobs__img-box {
  max-width: 450px;
  width: 100%;
}

.it-jobs__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-jobs__price {
  font-size: 50px;
  color: #000000;
  font-weight: 300;
  line-height: 0.8;
}

.it-jobs__price span {
  font-size: 144px;
  font-weight: 700;
  color: $main-color;
  display: inline-block;
  margin-left: 10px;
}

.it-jobs__title {
  color: #363636;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.it-jobs__info {
  font-size: 14px;
  font-weight: 300;
}

.it-jobs__info--time {
  margin-bottom: 10px;
}

.it-jobs__info--price {
  margin-bottom: 30px;
}

.it-jobs__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

/******************* it-jobs + owl *******************/


.it-jobs .box-carousel .owl-nav .owl-prev,
.it-jobs .box-carousel  .owl-nav .owl-next {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  bottom: 17%;
  font-size: 0;
  background-color: #47474D;
  right: auto;
}


.it-jobs .box-carousel .owl-nav .owl-prev:hover,
.it-jobs .box-carousel  .owl-nav .owl-next:hover {
  opacity: 0.5;
}

.it-jobs .box-carousel .owl-nav .owl-prev {
  left: 43%;

}

.it-jobs .box-carousel .owl-nav .owl-next {
  left: 57%;

}

.it-jobs .box-carousel .owl-nav .owl-prev:after,
.it-jobs .box-carousel  .owl-nav .owl-next:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-top: 5px solid transparent;
  border-left: 6px solid #ffffff;
  border-bottom: 5px solid transparent;
}

.it-jobs .box-carousel .owl-nav .owl-prev:after {
  transform: scale(-1);
  left: 42%;
  right: auto;
  margin-left: -2px;
}

.it-jobs .box-carousel  .owl-nav .owl-next:after {
  transform: scale(1);
  right: 42%;
  left: auto;
  margin-right: -2px;
}


.it-jobs .box-carousel .owl-dots {
    position: absolute;
    bottom: 20%;
    left: 48%;
    display: block;
    z-index: 10000;
    max-width: 80px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.it-jobs .box-carousel .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    border: 3px solid transparent;
    background: rgba(196, 196, 196, 1);
    border-radius: 50%;
    transition: 0.2s;
}


.it-jobs .box-carousel .owl-dots .owl-dot:hover,
.it-jobs .box-carousel .owl-dots .owl-dot.active {
  background-color: #EC007C;
}


/******************* repair *******************/

.repair_types a {
  text-decoration: none;
}

.repair_types a:hover,
.repair_types a:active,
.repair_types a:visited {
  text-decoration: none;
}

.repair_types label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  max-width: 278px;
  width: 100%;
}


/******************* it-advice *******************/

.it-advice__wrap {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 7%;
  border-radius: 5px;
}

.it-advice__item {
  list-style-type: none;
}

.it-advice__toggle {
  padding: 4% 65px 4% 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
}

.it-advice__title {
  font-size: 1.12rem;
  flex-grow: 1000;
  flex-basis: 400px;
}


.it-advice__sign-wrap {
  position: absolute;
  top: 50%;
  right: 13px;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  border-radius: 50%;
  bottom: 9%;
  font-size: 0;
  background-color: $main-color;
}

.it-advice__sign-wrap:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -3.5px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 7px solid #ffffff;
    transition: 0.2s;
}

.it-advice__sign-wrap.active {
  background-color: $main-color-hover;
}

.it-advice__sign-wrap.active:before {
  transform: rotate(180deg);
  top: 49%;
}

.it-advice__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4% 40px;
}

.it-advice__desc {
  width: 100%;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  flex-basis: 400px;
  flex-grow: 1000;
  padding-right: 5%;
}

.it-advice__main-title {
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;
}

/******************* it-callback-discount *******************/

.it-callback-discount {
  background-color: rgba(240, 240, 241, 1);
  padding-bottom: 5%;
}

.it-callback-discount__wrap {
  background-color: #ffffff;
  padding: 35px 25px;
  overflow: hidden;
}

.it-callback__form {
  overflow: hidden;
}

.it-callback-discount__input-title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  min-height: 40px;
}

.it-callback-discount__input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -18px -10px;
  overflow: hidden;
}

.it-callback-discount__half {
  max-width: 300px;
  flex-grow: 1000;
  flex-basis: 200px;
  margin: 0 18px 10px;
}

.it-callback-discount__half--size1 {
  flex-grow: 1;
}

.it-callback-discount__buttons {
  flex-grow: 1;
}

.it-callback-discount__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.it-callback-discount__input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.it-callback-discount__input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.it-callback-discount__input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-callback-discount__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 10px 20px;
  color: rgba(51, 51, 51, 0.5);
  width: 100%;
  line-height: 1.42;
}

.it-callback-discount__select-wrap {
  position: relative;
  width: 100%;
}
.it-callback-discount__select-wrap:after {
	content: '';
	display: block;
	position: absolute;
    top: 50%;
    right: 4%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -3.5px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 1);
    pointer-events: none;

}

.it-callback-discount__select-wrap:before {
    content: '';
    display: block;
    position: absolute;
    top: 35%;
    right: 2%;
    width: 25px;
    height: 20px;
    background-color: #fff;
    pointer-events: none;
}

.it-callback-discount__select {
  padding: 11px 20px;
}


/******************* it-callback + it-success *******************/


.it-form__success {
  font-size: 36px;
  text-align: center;
  display: none;
  line-height: 1em;
}

.it-form--hide.success *:not(.it-form__success) {
  display: none;
}

.it-form--hide.success .it-form__success {
  display: block;
}


/******************* map *******************/


.it-map {
  position: relative;
  min-height: 30%;
}

.it-map__wrap {
  position: absolute;
  top: 10%;
  left: 50%;
  max-width: 250px;
  width: 100%;
  margin-left: -125px;
  background-color: #ffffff;
}

.it-map__img-box {
  overflow: hidden;
}

.it-map__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-map__content {
  padding: 15px 25px 25px;
}

.it-map__title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px;
}

.it-map__title span {
  color: $main-color;
}

.it-map__subtitle {
  margin-bottom: 30px;
  position: relative;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}

.it-map__subtitle:before {
	content: '';
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 1px;
    background-color: rgba(0, 0, 0, 0.26);
}

.it-map__phone {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.it-map__buttons {
  width: 100%;
}

/******************* media *******************/


@media (max-width: 1200px) { /*desctop*/

}

@media (max-width: 992px) {  /*laptop*/

  .it-jobs .box-carousel .owl-nav .owl-prev {
    left: 35%;
    right: auto;
  }

  .it-jobs .box-carousel .owl-nav .owl-next {
    right: 35%;
    left: auto;
  }

  .it-jobs .box-carousel .owl-dots {
    margin-left: -40px;
    left: 50%;
  }



}

@media (max-width: 768px) { /* tablets*/
}

@media (max-width: 480px) { /*phones*/

  .it-jobs .box-carousel .owl-nav .owl-prev {
    left: 20%;
    right: auto;
    bottom: 1%;
  }

  .it-jobs .box-carousel .owl-nav .owl-next {
    right: 20%;
    left: auto;
    bottom: 1%;
  }

  .it-jobs__half {
    flex-basis: 100%;
    padding-right: 0;
  }

  .it-jobs .box-carousel .owl-dots {
    bottom: 4%;
  }

  .it-jobs__item {
    padding-bottom: 40px;
  }




}
