a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.display_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text Экран
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.case_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text   Корпус
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.button_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Кнопки
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.micro_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Микрофон или динамики
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.camera_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Камера
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.pow_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Не включается
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.sim_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Сим-карта не читается
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.liquid_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Жидкость попала
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.battery_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Заряд быстро заканчивается
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.vilka_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Не заряжается
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.wifi_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Проблемы с сетью
a(href='#').it-price__inner-item.it-price__inner-item--size2
	label.other_type.icon
		input.it-price-checkbox__default(type="radio" name="iphone4_repair_types" value="")
		div.it-price-checkbox__pseudo
		div.it-price-checkbox-text             Прочее